__pycache__
*__pycache__
.env
*.env
.DS_Store
**/.DS_Store
.idea/
*.idea
downloads
pdf_images
downloaded_pdfs
**/__pycache__/
**/__init__.py
chromedriver
zip_files
testenv
test
*node_modules/*
**node_modules/*
.vscode
**.cache/**
**.ipynb_checkpoints/**
**.ipthon/**
**.jupyter/**
**.local/**
.cache/**
.ipynb_checkpoints/**
.ipthon/**
.jupyter/**
.local/**
*/ext.crx